body {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    background: skyblue;
    line-height: 1.1;
}

hr {
    margin-bottom: 0;
}

.nav {
    background: black;
    border-bottom: 1px solid white;
    height: 75px;
    font-size: 17px;
}

.nav-item {
    vertical-align: middle;    
}

.nav-link {
    color: white;
    margin-top: 18px;
    font-weight: bold;
}

.nav-link:hover {
    color: skyblue;
}

#home-hero {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

#hero-logo {
    max-height: 210px;
    max-width: 210px;
    margin-top: 10px; 
    margin-bottom: 15px;
    transform: scale(1, 1);
    transition-duration: 1s;
}

#hero-logo:hover {
    transform: scale(-1, 1);
    transition-duration: 1s;
}

h3 {
    font-style: italic;
    font-weight: lighter;
    font-size: 30px;
}

#story {
    margin: 5% 5%;
    background: lightblue;
    padding: 3% 5%;
    box-shadow: 3px 3px 5px rgb(56, 56, 56);
    border-top-left-radius: 50px;
    border-right: 5px solid white;
}

#hobby-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(187, 221, 233);
    border-radius: 50px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;    
    box-shadow: 1px 1px 4px rgb(56, 56, 56);    
}

.hobby {
    max-height: 75px;
    max-width: 75px;
    padding: 10px 10px;
}

#game-control {
    filter: invert(100%);
    max-width: 85px;
}

p {
    font-size: 20px;
}


#resume {
    margin: 5% 5%;
    background: rgb(172, 241, 216);
    padding: 3% 5%;
    box-shadow: 3px 3px 5px rgb(56, 56, 56);
    border-top-left-radius: 50px;
    border-right: 5px solid white;
}

.job {
    padding: 2% 0;
}

h2 {
    font-weight: bold;
    margin-bottom: 0;
    vertical-align: middle;
}

h5 {
    font-style: italic;
    font-weight: lighter;
}

.subtitle-logo {
    position: absolute;
    max-height: 55px;
    max-width: 55px;
    display: inline-block;
    left: 0;
}

.subtitle {
    display: inline-block;
    position: absolute;
    margin-top: 6px;
    right: 0;
}

.section-title {
    text-align: center;
    position: relative;
    height: 50px;
}

p {
    margin-top: 10px;
}

footer {
    background: black;
    color: white;
    padding-top: 25px;
    margin-top: 20px;
    position: static;
    bottom: 0;
    height: 60px;
    width: 100%;
    text-align: center;
}